body{
    /* background-image:url("../images/bg.avif") ; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-video: url("D:\Advance App Development\Advance-App-Development\AppDevelopment\AdvanceAppDevelopment\src\assets\Videos\WaterBackground.mp4");
    background-repeat: no-repeat;
    background-size: cover; */
}

/* .video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  opacity: 0.7; 
} */
/* .login {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  
} */
.container1{
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  align-content: 'center';
  margin-left: 550px;
  margin-top:15%;
  min-height: '100lvh';
  max-width: 30%;
}
.card1{
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #d6c4c4; */
    background-color: rgba(244, 236, 236, 0);
    background-clip: border-box;
    border: none;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgb(10 10 20 / 45%);
    transition: transform 0.3s ease-in-out;
    border-radius: 1rem;
    font-family: Arial, sans-serif;
}
.container{
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  align-content: 'center';
  min-height: '100lvh';
 max-width: 30%;
}
.card-header:first-child {
    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
    background-color: white;

  }
  .card-header {
    position: relative;
    padding: 2rem 2rem;
    border-bottom: none;
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    z-index: 2;
  }
  .card-header h1{
    font-size: 'small';
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #d6c4c4; */
    background-color: rgba(244, 236, 236, 0);
    background-clip: border-box;
    border: none;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgb(10 10 20 / 45%);
    transition: transform 0.3s ease-in-out;
    border-radius: 1rem;
    font-family: Arial, sans-serif;

  }
  .card:hover{
    box-shadow: 0 0.5rem 1rem rgba(46, 41, 41, 0.85);
    transform: scale(1.02);
  }

  
  body{
    font-family: 'Poppins'!important;
  }
  .text-primary {
    font-family: Arial, sans-serif;

    color: black !important;
    text-align: center;
  }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
   
    font-weight: 700;
    line-height: 1.2;
    font-family: Arial, sans-serif;

  }
  .text-muted {
    color: white !important;
  }

  .lead {
    font-size: 1.125rem;
    font-weight: 300;
  }
  .text-sm {
    font-size: .7875rem !important;
  }
  h3, .h3 {
    font-size: 1.575rem;
  }
  .hide
  {
      display: none;
  }
  .form-group{
    margin-top: 3%;
    display: flex;
    
    justify-content: center;
  }
  .form-group Button {
    width : 90%;
    margin-bottom: 3%;
  }
  .signin{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
      color: #4650dd!important;
      text-decoration: underline!important;
      cursor: pointer;
    }
.text-center {
  background: white;
  padding: '10px';
  display: 'flex';
  align-Items: 'center';
  justify-Content: 'center';
}
.notice{
  text-align: center;
  padding: 0.5%;
}